{% style %}

/* banner image and text box */

.image-with_text{
    position:relative;
}

.image-with_text>img{
    object-fit:cover;
    object-position:center center;
}

/* content box design */

p {
    margin: 0;
}

.content-box {
    position: absolute;
    width: 489px;
    background: #fff;
    bottom: 10%;
    left: 10%;
    padding: 3rem;
}
.content {
    margin-bottom: 2rem;
}
.content-box a.button.custom_btn{
    background:#000;
    color:#fff;
}
.content-box a.button.custom_btn svg{
    color:#fff;
}
.content-box a.button.custom_btn::before{
    background:yellow!important;
    color:#000!important;
}
.content-box .custom_btn.button:hover {
    color: #000;
  }
  .content-box .custom_btn.button:hover::before {
    transform: scaleX(1);
  }
.footer_content{
    text-align:center;
}

/* css for mobile view */

@media(max-width:667px){
.image-with_text {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}
.content-box {
    position: unset;
    text-align: center;
    width: 100%;
}
.task-banner_wrapper a.button.custom_btn {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 10px);
    bottom: 10%;
}
.footer_content {
    text-align: center;
    background: #eee;
}
}
{% endstyle %}
<div class="task-banner_wrapper">
    <div class="image-with_text">
        {% if section.settings.image  %}
            <img src="{{ section.settings.image | image_url:'' }}" width="100%" height="100%" />
        {% else %}
            {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
        <div class="content-box">
            {% for block in section.blocks %}
                {% case block.type %}
                    {% when 'content_box' %}
                        <div class="content-wrapper">
                            <h3>{{ block.settings.heading }}</h3>
                            <div class="content">{{ block.settings.content }}</div>
                            <a href="{{ block.settings.btn_link }}" class="button custom_btn">
                                <span>{{ block.settings.btn_label }}</span>
                                <svg fill="#fff" width="40px" height="40px" viewBox="0 0 24 24" id="right-arrow" xmlns="http://www.w3.org/2000/svg" class="icon line"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.24000000000000005"></g><g id="SVGRepo_iconCarrier"><path id="primary" d="M3,12H21m-3,3,3-3L18,9" style="fill: none; stroke: #000000; stroke-linecap: round; stroke-linejoin: round; stroke-width:0.36;"></path></g></svg>
                            </a>
                        </div>
                {% endcase %}
            {% endfor %}
        </div>
    </div>
    <div class="footer_content">{{ section.settings.footer_text }}</div>
</div>
{% schema %}
    {
        "name":"Banner",
        "settings": [
           {
             "type": "image_picker",
             "label": "Image",
             "id": "image"
            },
            {
                "type":"richtext",
                "label": "Footer text",
                "id":"footer_text"
            }
        ],
        "blocks":[
            {
                "type": "content_box",
                "name":"Content Box",
                "settings": [
                    {
                        "type":"text",
                        "label":"Heading",
                        "id":"heading"
                    },
                    {
                        "type":"richtext",
                        "label":"Content",
                        "id":"content"
                    },
                    {
                        "type":"text",
                        "label":"Button Label",
                        "id":"btn_label"
                    },
                    {
                        "type":"url",
                        "label":"Button Link",
                        "id":"btn_link"
                    }
                ]
            }
        ]
    }
{% endschema %}